body {
    font-family: sans-serif;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1, h2 {
    margin-bottom: 20px;
}

#botao {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botao:hover {
    background-color: #0056b3;
}

iframe {
    margin-top: 20px;
}